body {
  background-image:url("books.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.App {
  background:#a5a18f;
  
  max-width: 960px;
  margin:0 auto;
}

a {
  color: #9670f4;
}

.App h1 {
  text-align: center;
}

.App h1,h2,h3 {
  font-family: "Poppins", sans-serif;
}

.App {
  max-width: 960px;
  padding: 60px 0 100px;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.App-footer {
  font-size: 18px;
  margin: 30px ;
  text-align: center;
}

.App footer a:hover {
  text-decoration: underline;
}

.App a { 
  color :rgba(114, 5, 204, 0.793);
  font-weight: 500px;
  font-style: bold;

  color:
}

.App .sheCodes img {
  max-width: 100px;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .App header h2 {
    font-size: 40px;
    position: relative;
    z-index: 9999;
  }
 .App header {
    padding: 60px 0;
  }
  
  .App header h3 {
    font-size: 12px;
  }
  
  .App section {
    padding: 30px 0;
  }
}