.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.Dictionary section {
    background-color: white ;
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0 0 0 /10%);
    margin: 20px 0;
    padding: 30px;
}

.Dictionary input {
    border: 1 px solid #ddd;
    border-radius: 6px 10px;
    color:#333;
    padding: 6px;
    width: 100%;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}